div {
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  width: 80%; 
  height: 780px; 
  margin: 50px auto;
}

#controls {
  width: 100%; 
  height: 25%;
  margin-bottom: 8px;
  border: 2px ridge;
  border-radius: 4px;
  box-shadow: 4px 4px lightgrey;
}

#graphics {
  width: 100%; 
  height: 75%;
}

#neuralnet {
  display: inline-block;
  position: relative;
  width: calc(75% - 6px);
  height: 100%;
}

#neuralnetcanvas {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  /* border: 2px solid black; */
}

#charts {
  display: inline-block;
  width: 25%; 
  height: 100%; 
}

#info {
  position: relative;
  width: 100%; 
  height: 22%;
}

#infocanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
}

#cost {
  position: relative;
  width: 100%; 
  height: calc(39% - 4px);
  margin-top: 4px;
}

#costcanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#accuracy {
  position: relative;
  width: 100%; 
  height: calc(39% - 4px);
  margin-top: 4px;
}

#accuracycanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}